div.document .pygments .hll { background-color: #ffffcc }
div.document .pygments  { background: #f8f8f8; }
div.document .pygments .c { color: #408080; font-style: italic } /* Comment */
div.document .pygments .err { border: 1px solid #FF0000 } /* Error */
div.document .pygments .k { color: #008000; font-weight: bold } /* Keyword */
div.document .pygments .o { color: #666666 } /* Operator */
div.document .pygments .cm { color: #408080; font-style: italic } /* Comment.Multiline */
div.document .pygments .cp { color: #BC7A00 } /* Comment.Preproc */
div.document .pygments .c1 { color: #408080; font-style: italic } /* Comment.Single */
div.document .pygments .cs { color: #408080; font-style: italic } /* Comment.Special */
div.document .pygments .gd { color: #A00000 } /* Generic.Deleted */
div.document .pygments .ge { font-style: italic } /* Generic.Emph */
div.document .pygments .gr { color: #FF0000 } /* Generic.Error */
div.document .pygments .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.document .pygments .gi { color: #00A000 } /* Generic.Inserted */
div.document .pygments .go { color: #808080 } /* Generic.Output */
div.document .pygments .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
div.document .pygments .gs { font-weight: bold } /* Generic.Strong */
div.document .pygments .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.document .pygments .gt { color: #0040D0 } /* Generic.Traceback */
div.document .pygments .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
div.document .pygments .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
div.document .pygments .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
div.document .pygments .kp { color: #008000 } /* Keyword.Pseudo */
div.document .pygments .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
div.document .pygments .kt { color: #B00040 } /* Keyword.Type */
div.document .pygments .m { color: #666666 } /* Literal.Number */
div.document .pygments .s { color: #BA2121 } /* Literal.String */
div.document .pygments .na { color: #7D9029 } /* Name.Attribute */
div.document .pygments .nb { color: #008000 } /* Name.Builtin */
div.document .pygments .nc { color: #0000FF; font-weight: bold } /* Name.Class */
div.document .pygments .no { color: #880000 } /* Name.Constant */
div.document .pygments .nd { color: #AA22FF } /* Name.Decorator */
div.document .pygments .ni { color: #999999; font-weight: bold } /* Name.Entity */
div.document .pygments .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
div.document .pygments .nf { color: #0000FF } /* Name.Function */
div.document .pygments .nl { color: #A0A000 } /* Name.Label */
div.document .pygments .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
div.document .pygments .nt { color: #008000; font-weight: bold } /* Name.Tag */
div.document .pygments .nv { color: #19177C } /* Name.Variable */
div.document .pygments .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.document .pygments .w { color: #bbbbbb } /* Text.Whitespace */
div.document .pygments .mf { color: #666666 } /* Literal.Number.Float */
div.document .pygments .mh { color: #666666 } /* Literal.Number.Hex */
div.document .pygments .mi { color: #666666 } /* Literal.Number.Integer */
div.document .pygments .mo { color: #666666 } /* Literal.Number.Oct */
div.document .pygments .sb { color: #BA2121 } /* Literal.String.Backtick */
div.document .pygments .sc { color: #BA2121 } /* Literal.String.Char */
div.document .pygments .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
div.document .pygments .s2 { color: #BA2121 } /* Literal.String.Double */
div.document .pygments .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
div.document .pygments .sh { color: #BA2121 } /* Literal.String.Heredoc */
div.document .pygments .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
div.document .pygments .sx { color: #008000 } /* Literal.String.Other */
div.document .pygments .sr { color: #BB6688 } /* Literal.String.Regex */
div.document .pygments .s1 { color: #BA2121 } /* Literal.String.Single */
div.document .pygments .ss { color: #19177C } /* Literal.String.Symbol */
div.document .pygments .bp { color: #008000 } /* Name.Builtin.Pseudo */
div.document .pygments .vc { color: #19177C } /* Name.Variable.Class */
div.document .pygments .vg { color: #19177C } /* Name.Variable.Global */
div.document .pygments .vi { color: #19177C } /* Name.Variable.Instance */
div.document .pygments .il { color: #666666 } /* Literal.Number.Integer.Long */

div.document .pygmentstable, 
div.document .pygmentstable td, 
div.document .pygmentstable th {
    border: 0 none; 
    padding: 0; 
}

div.document .pygmentstable .linenos pre {
    margin: 0;
    padding: 0;
    border: 0 none;
}
